<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <div class="container">
        <div class="row">
          <div class="col">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Find your ideal holiday Apartment!</div>
                  <div class="card-body text-primary">
                    <img src = "/images/Amsterdam.jpg" width = "200" height="200">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Find your ideal holiday Apartment!</div>
                  <div class="card-body text-primary">
                    <img src = "/images/Amsterdam1.jpg" width = "200" height="200">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Find your ideal holiday Apartment!</div>
                  <div class="card-body text-primary">
                    <img src = "/images/Amsterdam2.jpg" width = "200" height="200">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Find your ideal holiday Apartment!</div>
                  <div class="card-body text-primary">
                    <img src = "/images/Amsterdam2.jpg" width = "200" height="200">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
          <div class="col">
              <div class="card border-primary mb-3" style="max-width: 18rem;">
                  <div class="card-header">Find your ideal holiday Apartment!</div>
                  <div class="card-body text-primary">
                    <img src = "/images/Amsterdam2.jpg" width = "200" height="200">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Find your ideal holiday Apartment!</div>
          <div class="card-body text-primary">
            <img src = "/images/Amsterdam2.jpg" width = "200" height="200">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
     
  </body>
</html>
